@import "./variables.scss";

.navbar-index {
  display: flex;
  justify-content: flex-end;
  //background-color: $nav-blue;
  background: linear-gradient(90deg, rgba(31,163,207,1) 0%, rgba(0,126,219,1) 50%, rgba(31,163,207,1) 100%);
  z-index: 10000000;

  a{
    font-weight: bold;
    color: $white;
  }
}

.nav-hidden{
  top: -56px;
  position: fixed;
  width: 100%;
}

.nav-show-on-scroll{
  transform: translateY(56px);
  transform-origin: top;
  transition: transform 0.5s ease;
}

.nav-put-away{
  transform: translateY(-56px);
  transform-origin: top;
  transition: transform 0.5s ease;
}