// Site colours
$white: #FDFDFD;
$background: $white;
$teal: #3AB8C3;
$link: yellow;
$nav-blue: #1FA3CF;
$gradient-blue: #1f7edbb3;
$footer-grey: #7B7B7B;

// demo colours
$shadow-black: rgba(0, 0, 0, 0.75);
$border-grey: #C7C7C7;
$chat-teal: #F7FFFF;
$subheader-grey: #6F6F6F;
$user-blue: #1f7edb;
$faded-white-text: rgba(255, 255, 255, .85);
$selected-grey: #E6E8E8;
