<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156408401-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156408401-1');
    </script>

    <meta name="google-site-verification" content="Uxv6TkTSdQdLAuICQvDlRV2EFIWfmsGEQTU61JP3i6I"/>
    <meta name="ahrefs-site-verification" content="55f7635c6fbd99f2ec41773dadc32629eba1ad5c257a005993f5611669c3560e">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon_io/site.webmanifest">
    <title>Hi, I'm Marc Sloan</title>
</head>
<body>

<script>
    {#window.GLOBALS = {{ globals | safe }}#}
    window.GLOBALS = {'STATIC_URL': '/static/'}
</script>
<div class="react-container">
    <div id="react">{{ title }}</div>
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>